---
import HeaderLink from './HeaderLink.astro';


---


<header>
  <h1 class="text-5xl font-bold text-center uppercase mb-8 bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">Student Management System</h1>
  <nav>
    <section class=" text-lg w-full">
      <ul class="unset flex gap-4 place-content-between [&>li]:p-0">
        <li><HeaderLink href="/">Students</HeaderLink></li>
        <li><HeaderLink href="/lecturers">Lecturers</HeaderLink></li>
        <li><HeaderLink href="/courses">Courses</HeaderLink></li>
        <li><HeaderLink href="/enrollments">Enrollments</HeaderLink></li>
      </ul>
    </section>
  </nav>

</header>